<%typeStores.forEach(s => { %>
  <a href="/<%= typeof typeStr != "undefined" ? typeStr : s.allowedTypes[0] %>/<%= s.slug %>" 
    role="button"><%= s.name %></a>
<% }); %>
<a href="/entitystore<%= typeof typeStr == "undefined" ? "" : `/type/${typeStr}` %>" 
  role="button" class="secondary outline">Add</a>
