<%typeStores.forEach(s => { %>
  <a href="/<%= s.allowedTypes[0] %>/<%= s.slug %>" role="button"><%= s.name %></a>
<% }); %>
<a href="/<%= typeof typeStr == "undefined" ? "store" : typeStr %>/new" 
  role="button" class="secondary outline">Add</a>
