# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Python
__pycache__/
*.py[cod]
*$py.class

# Node modules are not needed for this repo
node_modules

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
