<form action="/<%= typeStr %>/new" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="allowedTypes" placeholder="Type" />
  <input type="submit" name="submit" />
</form>