<h2>Login</h2>
<% if (!isAuthenticated) { %>
<form action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Username">
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="******">
  <input type="submit" name="submit" value="Login">
</form>
<% } else { %>
<p>Already logged in!</p>
<a href="/logout" role="button">Logout</a>
<% } %>
