<script type="module" src="/js/registerform.js"></script>

<article>
  <header><h1>Register</h1></header>

  <form name="registeration-form" action="/register" method="post">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      placeholder="Username"
      minlength="3"
      maxlength="128"
      required
      autofocus
    />
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      placeholder="Email"
      maxlength="128"
      required
    />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="********"
      minlength="8"
      maxlength="71"
      required
    />
    <label for="password">Confirm password</label>
    <input
      type="password"
      name="password-check"
      placeholder="********"
      minlength="8"
      maxlength="71"
      autocomplete="off"
      required
    />
    <input
      type="checkbox"
      name="passwordVisibilityToggle"
      id="passwordVisibilityToggle"
    />
    <label for="passwordVisibilityToggle">Show password</label>
    <input type="submit" name="submit" value="Register"/>
  </form>
</article>
