/* Theming */

/* Teal Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #FFF;
  --header-bg: #e6e6e6;
}

/* Teal Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #00897b;
    --primary-hover: #009688;
    --primary-focus: rgba(0, 137, 123, 0.25);
    --primary-inverse: #FFF;
    --header-bg: #091116;
  }
}

/* Teal Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #00897b;
  --primary-hover: #009688;
  --primary-focus: rgba(0, 137, 123, 0.25);
  --primary-inverse: #FFF;
  --header-bg: #091116;
}

/* Teal (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}


#site-header, #site-footer {
    background-color: var(--header-bg); /* 091116 */
}

#site-header {
    box-shadow: var(--card-box-shadow);
    border-style: none none solid none;
    border-width: 1px;
    border-color: var(--muted-border-color);
}

/* Global */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header"
      "content"
      "footer";
}

/* Main components */

#site-header {
    grid-area: header;
    padding: 0 1rem;
}

#site-content {
    grid-area: content;
}

#site-footer {
    grid-area: footer;
    margin: 2rem 0 0 0;
    padding: 0 1rem;
}

#site-footer p {
    color: #666;
    text-align: center;
    margin: 0.3em 0.3em;
}

a.active {
    background-color: #004942;
    border-color: #005e54;
}

/* Typography */

article header h1,
article header h2,
article header h3,
article header h4,
article header h5,
article header h6 {
    margin-bottom: 0;
}

article > header > *:first-child {
    margin-top: 0;
}

article > header > *:nth-child(2) {
    margin-top: 1em;
}

article > header > *:last-child {
    margin-bottom: 0;
}

.action-links {
    font-size: 0.5em;
    float: right;
}

/* Flash */

.flashmessage {
    border-width: 0.1rem;
    border-radius: var(--border-radius);
    border-style: solid;
    text-align: center;
    margin-bottom: 0.2rem;
}

.flashmessage[data-flash-type="info"] {
    border-color: var(--primary);
    color: var(--primary);
}
.flashmessage[data-flash-type="error"] {
    border-color: var(--del-color);
    color: var(--del-color);
}
