<footer class="grid" id="site-footer">
  <p>
    &copy; Invekotin-project, please see the
    <a
      href="https://github.com/murtoM/invekotin/blob/main/.reuse/dep5"
      target="_blank">
      debian/copyright file
    </a>
  </p>
</footer>
