<figure>
  <table>
    <thead>
      <tr>
        <% for (const key of Object.keys(schema)) { %>
          <th><%= key.charAt(0).toUpperCase() + key.slice(1) %></th>
        <% } %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% entities.forEach((entity) => { %>
        <tr>
          <% for (const key in schema) { %>
            <td><%= entity[key] %></td>
          <% } %>
          <td><a href="/<%= firstPathElement %>/entity/<%= entity._id %>/edit">Edit</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</figure>
